In [ ]:
#People with 0 dependents churn more, but there doesnâ€™t seem to be a correlation between number of dependents and churn rate.
#However, there are also more monthly customers with no dependents.
#The churn rate descends until we reach 3 dependents, at which point the churn rate rises slightly.

In [8]:
import pandas as pd
import numpy as np
from pydataset import data
import matplotlib.pyplot as plt
from pydataset import data

import seaborn as sns

df = pd.read_csv('telcom.csv')
df

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,has_phone,has_internet,has_phone_and_internet,partner_dependents,average_monthly_charge,start_date,contract_type.1,phone_service.1,internet_service.1,service_type
0,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,$65.60,...,True,True,True,3,$65.92,7/18/2021,1 Year,One Line,DSL,phone_and_internet
1,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,$59.90,...,True,True,True,0,$60.27,7/18/2021,Month-to-Month,Two or More Lines,DSL,phone_and_internet
2,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,$73.90,...,True,True,True,0,$93.62,7/24/2021,Month-to-Month,One Line,Fiber Optic,phone_and_internet
3,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,$98.00,...,True,True,True,1,$103.15,7/15/2021,Month-to-Month,One Line,Fiber Optic,phone_and_internet
4,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,$83.90,...,True,True,True,1,$89.13,7/24/2021,Month-to-Month,One Line,Fiber Optic,phone_and_internet
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7044,NaN,Female,0,No,No,1,1,1,Mailed check,$55.15,...,True,True,True,0,$57.15,7/14/2021,1 Year,One Line,DSL,phone_and_internet
7045,NaN,Male,0,Yes,No,2,2,0,Electronic check,$85.10,...,True,True,True,1,$85.17,7/5/2021,Month-to-Month,Two or More Lines,Fiber Optic,phone_and_internet
7046,NaN,Male,0,No,No,1,1,0,Mailed check,$50.30,...,True,True,True,0,$92.75,7/26/2021,Month-to-Month,One Line,DSL,phone_and_internet
7047,NaN,Male,0,Yes,Yes,1,1,2,Mailed check,$67.85,...,True,True,True,3,$68.05,5/20/2021,2 Year,One Line,DSL,phone_and_internet
7048,NaN,Male,0,Yes,Yes,0,1,2,Electronic check,$59.00,...,False,True,False,3,$59.80,5/26/2021,2 Year,No Phone Service,DSL,has_internet

In [18]:
df_senior=df[df['is_senior_citizen'] == 1]
df_senior_single=df_senior[df_senior['partner'] == "No"]
df_new = df_senior_single[df_senior_single['contract_type.1']=="Month-to-Month"]
##We have determined that single seniors are the most likely to churn. Now let's see if there are any other factors that contribute to churn.

In [59]:
df_1 = df_new[df_new['churn'] == "Yes"]
my_df = df_1.groupby(by="payment_type").sum()

my_df

,is_senior_citizen,phone_service,internet_service,contract_type,tenure,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents
payment_type,,,,,,,,,,,
Bank transfer (automatic),114,158,188,0,1580,69,114,107,106,99,16
Credit card (automatic),116,158,188,0,1996,68,116,104,112,100,16
Electronic check,664,886,1166,0,6851,341,664,604,654,594,66
Mailed check,221,244,241,0,1084,102,221,196,167,142,38

In [60]:
my_df

,is_senior_citizen,phone_service,internet_service,contract_type,tenure,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents
payment_type,,,,,,,,,,,
Bank transfer (automatic),114,158,188,0,1580,69,114,107,106,99,16
Credit card (automatic),116,158,188,0,1996,68,116,104,112,100,16
Electronic check,664,886,1166,0,6851,341,664,604,654,594,66
Mailed check,221,244,241,0,1084,102,221,196,167,142,38

In [62]:
df_2 = df_new.groupby(by="payment_type").sum()
df_2

,is_senior_citizen,phone_service,internet_service,contract_type,tenure,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents
payment_type,,,,,,,,,,,
Bank transfer (automatic),319,427,454,0,6341,171,319,295,282,258,46
Credit card (automatic),335,418,453,0,6614,168,335,298,283,246,64
Electronic check,1174,1527,1929,0,15660,604,1174,1061,1130,1017,140
Mailed check,667,721,561,0,5401,292,667,599,414,346,164

In [63]:
my_df['is_senior_citizen']/df_2['is_senior_citizen']
##Electronic checks have the highest churn rate. Mailed checks have the lowest churn rate. For single, elderly, month-to-month customers.

payment_type
Bank transfer (automatic)    0.357367
Credit card (automatic)      0.346269
Electronic check             0.565588
Mailed check                 0.331334
Name: is_senior_citizen, dtype: float64